
@{
    ViewBag.Title = "San Pham";
    Layout = "~/Views/Shared/_LayoutSite.cshtml";
}

<div class="row my-4">
    <div class="col-md-2 mt-4">
        <div class="card" style="width: 100%">
            <img src="~/Public/Img/AGT0013_2 (1).jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">LUCKY LUKE COMICS</h5>
                <h6 class="card-title">365.000 VND</h6>
                <a href="#" class="btn btn-primary">Mua Ngay</a>
            </div>
        </div>
    </div>
    <div class="col-md-2 mt-4">
        <div class="card " style="width: 100%">
            <img src="~/Public/Img/AGT0018_4.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">LUCKY LUKE TYPO</h5>
                <h6 class="card-title">350.000 VND</h6>
                <a href="#" class="btn btn-primary">Mua Ngay</a>
            </div>
        </div>
    </div>
    <div class="col-md-2 mt-4">
        <div class="card " style="width: 100%">
            <img src="~/Public/Img/AGT0017_2.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">LUCKY LUKEGRAPHIC</h5>
                <h6 class="card-title">365.000 VND</h6>
                <a href="#" class="btn btn-primary">Mua Ngay</a>
            </div>
        </div>
    </div>
    <div class="col-md-2 mt-4">
        <div class="card " style="width: 100%">
            <img src="~/Public/Img/AGT0011_5.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">GRAPHIC TEE-EST.'17</h5>
                <h6 class="card-title">350.000 VND</h6>
                <a href="#" class="btn btn-primary">Mua Ngay</a>
            </div>
        </div>
    </div>
    <div class="col-md-2 mt-4">
        <div class="card " style="width: 100%">
            <img src="~/Public/Img/AGT0012_1.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">GRAPHIC TEE-EST.'17</h5>
                <h6 class="card-title">350.000 VND</h6>
                <a href="#" class="btn btn-primary">Mua Ngay</a>
            </div>
        </div>
    </div>
    <div class="col-md-2 mt-4">
        <div class="card " style="width: 100%">
            <img src="~/Public/Img/AGT0009_2.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">GRAPHIC SYMBOL</h5>
                <h6 class="card-title">365.000 VND</h6>
                <a href="#" class="btn btn-primary">Mua Ngay</a>
            </div>
        </div>
    </div>
</div>
<div class="row my-4">
    <div class="col-md-2 mt-4">
        <div class="card " style="width: 100%">
            <img src="~/Public/Img/11_2000x_f7586606-2496-44d6-ac9b-f3ad69711d21_2000x.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">GRAPHIC TEE SYMBOL</h5>
                <h6 class="card-title">365.000 VND</h6>
                <a href="#" class="btn btn-primary">Mua Ngay</a>
            </div>
        </div>
    </div>
    <div class="col-md-2 mt-4">
        <div class="card " style="width: 100%">
            <img src="~/Public/Img/11_2000x_f7586606-2496-44d6-ac9b-f3ad69711d21_2000x.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">GRAPHIC TEE SYMBOL</h5>
                <h6 class="card-title">365.000 VND</h6>
                <a href="#" class="btn btn-primary">Mua Ngay</a>
            </div>
        </div>
    </div>
    <div class="col-md-2 mt-4">
        <div class="card " style="width: 100%">
            <img src="~/Public/Img/11_2000x_f7586606-2496-44d6-ac9b-f3ad69711d21_2000x.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">GRAPHIC TEE SYMBOL</h5>
                <h6 class="card-title">365.000 VND</h6>
                <a href="#" class="btn btn-primary">Mua Ngay</a>
            </div>
        </div>
    </div>
    <div class="col-md-2 mt-4">
        <div class="card " style="width: 100%">
            <img src="~/Public/Img/11_2000x_f7586606-2496-44d6-ac9b-f3ad69711d21_2000x.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">GRAPHIC TEE SYMBOL</h5>
                <h6 class="card-title">365.000 VND</h6>
                <a href="#" class="btn btn-primary">Mua Ngay</a>
            </div>
        </div>
    </div>
    <div class="col-md-2 mt-4">
        <div class="card " style="width: 100%">
            <img src="~/Public/Img/11_2000x_f7586606-2496-44d6-ac9b-f3ad69711d21_2000x.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">GRAPHIC TEE SYMBOL</h5>
                <h6 class="card-title">365.000 VND</h6>
                <a href="#" class="btn btn-primary">Mua Ngay</a>
            </div>
        </div>
    </div>
    <div class="col-md-2 mt-4">
        <div class="card " style="width: 100%">
            <img src="~/Public/Img/11_2000x_f7586606-2496-44d6-ac9b-f3ad69711d21_2000x.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">GRAPHIC TEE SYMBOL</h5>
                <h6 class="card-title">365.000 VND</h6>
                <a href="#" class="btn btn-primary">Mua Ngay</a>
            </div>
        </div>
    </div>
</div>

<div class="row my-4">
    <div class="col-md-2 mt-4">
        <div class="card " style="width: 100%">
            <img src="~/Public/Img/75a6aedb9ae46aba33f52_2000x.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">GRAPHIC TEE SYMBOL</h5>
                <h6 class="card-title">365.000 VND</h6>
                <a href="#" class="btn btn-primary">Mua Ngay</a>
            </div>
        </div>
    </div>
    <div class="col-md-2 mt-4">
        <div class="card " style="width: 100%">
            <img src="~/Public/Img/75a6aedb9ae46aba33f52_2000x.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">GRAPHIC TEE SYMBOL</h5>
                <h6 class="card-title">365.000 VND</h6>
                <a href="#" class="btn btn-primary">Mua Ngay</a>
            </div>
        </div>
    </div>
    <div class="col-md-2 mt-4">
        <div class="card " style="width: 100%">
            <img src="~/Public/Img/75a6aedb9ae46aba33f52_2000x.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">GRAPHIC TEE SYMBOL</h5>
                <h6 class="card-title">365.000 VND</h6>
                <a href="#" class="btn btn-primary">Mua Ngay</a>
            </div>
        </div>
    </div>
    <div class="col-md-2 mt-4">
        <div class="card " style="width: 100%">
            <img src="~/Public/Img/75a6aedb9ae46aba33f52_2000x.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">GRAPHIC TEE SYMBOL</h5>
                <h6 class="card-title">365.000 VND</h6>
                <a href="#" class="btn btn-primary">Mua Ngay</a>
            </div>
        </div>
    </div>
    <div class="col-md-2 mt-4">
        <div class="card " style="width: 100%">
            <img src="~/Public/Img/75a6aedb9ae46aba33f52_2000x.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">GRAPHIC TEE SYMBOL</h5>
                <h6 class="card-title">365.000 VND</h6>
                <a href="#" class="btn btn-primary">Mua Ngay</a>
            </div>
        </div>
    </div>
    <div class="col-md-2 mt-4">
        <div class="card " style="width: 100%">
            <img src="~/Public/Img/75a6aedb9ae46aba33f52_2000x.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">GRAPHIC TEE SYMBOL</h5>
                <h6 class="card-title">365.000 VND</h6>
                <a href="#" class="btn btn-primary">Mua Ngay</a>
            </div>
        </div>
    </div>
</div>

<div class="row my-4">
    <div class="col-md-2 mt-4">
        <div class="card" style="width: 100%">
            <img src="~/Public/Img/AGT0013_2 (1).jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">LUCKY LUKES COMICS</h5>
                <h6 class="card-title">365.000 VND</h6>
                <a href="#" class="btn btn-primary">Mua Ngay</a>
            </div>
        </div>
    </div>
    <div class="col-md-2 mt-4">
        <div class="card " style="width: 100%">
            <img src="~/Public/Img/AGT0018_4.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">LUCKY LUKES TYYPPO</h5>
                <h6 class="card-title">350.000 VND</h6>
                <a href="#" class="btn btn-primary">Mua Ngay</a>
            </div>
        </div>
    </div>
    <div class="col-md-2 mt-4">
        <div class="card " style="width: 100%">
            <img src="~/Public/Img/AGT0017_2.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">LUCKY LUKE GRAPHIC</h5>
                <h6 class="card-title">365.000 VND</h6>
                <a href="#" class="btn btn-primary">Mua Ngay</a>
            </div>
        </div>
    </div>
    <div class="col-md-2 mt-4">
        <div class="card " style="width: 100%">
            <img src="~/Public/Img/AGT0011_5.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">GRAPHIC TEE - EST.'17</h5>
                <h6 class="card-title">350.000 VND</h6>
                <a href="#" class="btn btn-primary">Mua Ngay</a>
            </div>
        </div>
    </div>
    <div class="col-md-2 mt-4">
        <div class="card " style="width: 100%">
            <img src="~/Public/Img/AGT0012_1.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">GRAPHIC TEE - EST.'17</h5>
                <h6 class="card-title">350.000 VND</h6>
                <a href="#" class="btn btn-primary">Mua Ngay</a>
            </div>
        </div>
    </div>
    <div class="col-md-2 mt-4">
        <div class="card " style="width: 100%">
            <img src="~/Public/Img/AGT0009_2.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">GRAPHIC TEE SYMBOL</h5>
                <h6 class="card-title">365.000 VND</h6>
                <a href="#" class="btn btn-primary">Mua Ngay</a>
            </div>
        </div>
    </div>
</div>
