
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutSite.cshtml";
}

<div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
        <div class="carousel-item active">
           <img src="~/Public/Img/Slider/bg1.png" class="d-block w-90" alt="...">
        </div>
        <div class="carousel-item">
            <img src="~/Public/Img/hannah-morgan-ycVFts5Ma4s-unsplash.jpg" class="d-block w-90" alt="...">
        </div>
        <div class="carousel-item">
            <img src="~/Public/Img/—Pngtree—spring festival new year yellow_929390.jpg" class="d-block w-90" alt="...">
        </div>
    </div>
    <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden"></span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden"></span>
    </a>
</div>

<div class="container my-4">
    <div class="row">
        <div class="col-md-4 mb-4 img-category">
            <a href="#"><img src="~/Public/Img/AGT0013_1.jpg" class="img-thumbnail" alt="Alternate Text" /></a>
            <div class="info-category">
                <h6><a href="#">GRAPHIC TEE-CAVIAR BLACK</a></h6>
                <p>50 sản phẩm</p>
            </div>
        </div>
        <div class="col-md-4 mb-4 img-category">
            <a href="#"><img src="~/Public/Img/AGT0018_1.jpg" class="img-thumbnail" alt="Alternate Text" /></a>
            <div class="info-category">
                <a href="#"><h6>GRAPHIC TEE-CHILI PEPPER</h6></a>
                <p>50 sản phẩm</p>
            </div>
        </div>
        <div class="col-md-4 mb-4 img-category">
            <a href="#"><img src="~/Public/Img/AGT0017_2.jpg" class="img-thumbnail" alt="Alternate Text" /></a>
            <div class="info-category">
                <a href="#"><h6>GRAPHIC TEE-CAVIAR BLACK</h6></a>
                <p>50 sản phẩm</p>
            </div>
        </div>
        <div class="col-md-4 mb-4 img-category">
            <a href="#"><img src="~/Public/Img/11_2000x_f7586606-2496-44d6-ac9b-f3ad69711d21_2000x.jpg" class="img-thumbnail" alt="Alternate Text" /></a>
            <div class="info-category">
                <a href="#"><h6>IGB BLACK WHITE VARSITY</h6></a>
                <p>50 sản phẩm</p>
            </div>
        </div>
        <div class="col-md-4 mb-4 img-category">
            <a href="#"> <img src="~/Public/Img/z2282206318799_b69752a754c56a40b1c245fff511362a_2000x.jpg" class="img-thumbnail" alt="Alternate Text" /></a>
            <div class="info-category">
                <a href="#"><h6>IGB BLACK WHITE VARSITY</h6></a>
                <p>50 sản phẩm</p>
            </div>
        </div>
        <div class="col-md-4 mb-4 img-category">
            <a href="#"><img src="~/Public/Img/75a6aedb9ae46aba33f52_2000x.jpg" class="img-thumbnail" alt="Alternate Text" /></a>
            <div class="info-category">
                <a href="#"><h6>IGB BLACK WHITE VARSITY</h6></a>
                <p>50 sản phẩm</p>
            </div>
        </div>
    </div>

    <!---->
    <div class="row">
        <div class="col-md-5">
            <img src="~/Public/Img/AGT0017_3.jpg" class="img-thumbnail" alt="Alternate Text" />
        </div>
        <div class="col-md-7">
            <a href="#"><h3>GRAPHIC TEE - LUCKY LUKE COMICS - CAVIAR BLACK</h3></a>
            <p>
                Những chiếc áo Ananas Graphic Tee có phom dáng thoải mái, rộng linh hoạt được kết hợp cùng hoạ tiết lấy cảm hứng từ bộ truyện tuổi thơ Lucky Luke. Đây sẽ là một mảnh ghép cho những outfit thú vị, dù đủ bộ hay mặc riêng lẻ vẫn khẳng định cá tính riêng biệt, ghi dấu ấn cho lần hợp tác quốc tế đầu tiên của Ananas.
            </p>
            <a href="#"><p>XEM TẤT CẢ <i class="fas fa-chevron-circle-right"></i></p></a>
        </div>
    </div>
    <div class="row my-4">
        <div class="col-md-2 mt-4">
            <div class="card" style="width: 100%">
                <a href=""><img src="~/Public/Img/AGT0013_2 (1).jpg" class="card-img-top" alt="..."></a>
                <div class="card-body">
                    <a href="#"><h5 class="card-title">LUCKY LUKE COMICS</h5></a>
                    <h6 class="card-title">365.000 VND</h6>
                    <a href="#" class="btn btn-primary">Mua Ngay</a>
                </div>
            </div>
        </div>
        <div class="col-md-2 mt-4">
            <div class="card " style="width: 100%">
                <a href=""><img src="~/Public/Img/AGT0018_4.jpg" class="card-img-top" alt="..."></a>
                <div class="card-body">
                    <a href="#"><h5 class="card-title">LUCKY LUKE TYPO</h5></a>
                    <h6 class="card-title">350.000 VND</h6>
                    <a href="#" class="btn btn-primary">Mua Ngay</a>
                </div>
            </div>
        </div>
        <div class="col-md-2 mt-4">
            <div class="card " style="width: 100%">
                <a href=""><img src="~/Public/Img/AGT0017_2.jpg" class="card-img-top" alt="..."></a>
                <div class="card-body">
                    <a href="#"><h5 class="card-title">LUCKY LUKE GRAPHIC</h5></a>
                    <h6 class="card-title">365.000 VND</h6>
                    <a href="#" class="btn btn-primary">Mua Ngay</a>
                </div>
            </div>
        </div>
        <div class="col-md-2 mt-4">
            <div class="card " style="width: 100%">
                <a href=""><img src="~/Public/Img/AGT0011_5.jpg" class="card-img-top" alt="..."></a>
                <div class="card-body">
                    <a href="#"><h5 class="card-title">GRAPHIC TEE - EST.'17</h5></a>
                    <h6 class="card-title">350.000 VND</h6>
                    <a href="#" class="btn btn-primary">Mua Ngay</a>
                </div>
            </div>
        </div>
        <div class="col-md-2 mt-4">
            <div class="card " style="width: 100%">
                <a href=""><img src="~/Public/Img/AGT0012_1.jpg" class="card-img-top" alt="..."></a>
                <div class="card-body">
                    <a href="#"><h5 class="card-title">GRAPHIC TEE - EST.'17</h5></a>
                    <h6 class="card-title">350.000 VND</h6>
                    <a href="#" class="btn btn-primary">Mua Ngay</a>
                </div>
            </div>
        </div>
        <div class="col-md-2 mt-4">
            <div class="card " style="width: 100%">
                <a href=""><img src="~/Public/Img/AGT0009_2.jpg" class="card-img-top" alt="..."></a>
                <div class="card-body">
                    <a href="#"><h5 class="card-title">GRAPHIC TEE SYMBOL</h5></a>
                    <h6 class="card-title">365.000 VND</h6>
                    <a href="#" class="btn btn-primary">Mua Ngay</a>
                </div>
            </div>
        </div>
    </div>
    <!---->
    <!---->
    <div class="row my-4"></div>
    <div class="row my-4">
        <div class="col-md-7">
            <a href="#"><h3>Áo Hoodie SWE Mẫu Mới</h3></a>
            <p>
                Chất nỉ ngoại cotton, êm mịn, dày dặn thấm hút mồ hôi tốt, mặc thoải mái. phù hợp với mọi tuổi teen.
            </p>
            <p>Hướng dẫn giặt ủi: Giặt máy / giặt tay (tốt nhất), không dùng bột giặt có chất tẩy mạnh (ngoại trừ vết bẩn khó tẩy), phơi sản phẩm ướt trong bóng râm để tránh bạc màu, không kéo giãn áo, không ủi trực tiếp lên hình in</p>
            <a href="#"><p>XEM TẤT CẢ <i class="fas fa-chevron-circle-right"></i></p></a>
        </div>
        <div class="col-md-5">
            <img src="~/Public/Img/P3RBpw_simg_de2fe0_500x500_maxb.jpg" class="img-thumbnail" alt="Alternate Text" />
        </div>
    </div>
    <div class="row my-4 bg-while">
        <div class="col-md mt-4">
            <div class="card " style="width: 100%">
                <a href=""><img src="~/Public/Img/xu_nu_720_2000x.jpg" class="card-img-top" alt="..."></a>
                <div class="card-body">
                    <a href="#"><h5 class="card-title">IGB VIRGO HOODIE</h5></a>
                    <h6 class="card-title">490.000 VND</h6>
                    <a href="#" class="btn btn-primary">Mua Ngay</a>
                </div>
            </div>
        </div>
        <div class="col-md mt-4">
            <div class="card " style="width: 100%">
                <a href=""><img src="~/Public/Img/xu_nu_720_2000x.jpg" class="card-img-top" alt="..."></a>
                <div class="card-body">
                    <a href="#"><h5 class="card-title">IGB VIRGO HOODIE</h5></a>
                    <h6 class="card-title">490.000 VND</h6>
                    <a href="#" class="btn btn-primary">Mua Ngay</a>
                </div>
            </div>
        </div>
        <div class="col-md mt-4">
            <div class="card " style="width: 100%">
                <a href=""><img src="~/Public/Img/xu_nu_720_2000x.jpg" class="card-img-top" alt="..."></a>
                <div class="card-body">
                    <a href="#"><h5 class="card-title">IGB VIRGO HOODIE</h5></a>
                    <h6 class="card-title">490.000 VND</h6>
                    <a href="#" class="btn btn-primary">Mua Ngay</a>
                </div>
            </div>
        </div>
        <div class="col-md mt-4">
            <div class="card " style="width: 100%">
                <a href=""><img src="~/Public/Img/xu_nu_720_2000x.jpg" class="card-img-top" alt="..."></a>
                <div class="card-body">
                    <a href="#"><h5 class="card-title">IGB VIRGO HOODIE</h5></a>
                    <h6 class="card-title">490.000 VND</h6>
                    <a href="#" class="btn btn-primary">Mua Ngay</a>
                </div>
            </div>
        </div>
        <div class="col-md mt-4">
            <div class="card " style="width: 100%">
                <a href=""><img src="~/Public/Img/xu_nu_720_2000x.jpg" class="card-img-top" alt="..."></a>
                <div class="card-body">
                    <a href="#"><h5 class="card-title">IGB VIRGO HOODIE</h5></a>
                    <h6 class="card-title">490.000 VND</h6>
                    <a href="#" class="btn btn-primary">Mua Ngay</a>
                </div>
            </div>
        </div>
        <div class="col-md mt-4">
            <div class="card " style="width: 100%">
                <a href=""><img src="~/Public/Img/xu_nu_720_2000x.jpg" class="card-img-top" alt="..."></a>
                <div class="card-body">
                    <a href="#"><h5 class="card-title">IGB VIRGO HOODIE</h5></a>
                    <h6 class="card-title">490.000 VND</h6>
                    <a href="#" class="btn btn-primary">Mua Ngay</a>
                </div>
            </div>
        </div>
    </div>
    <!---->
</div>
