
@{
    ViewBag.Title = "PostPage";
    Layout = "~/Views/Shared/_LayoutSite.cshtml";
}

<div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img src="~/Public/Img/—Pngtree—spring festival new year yellow_929390.jpg" class="d-block w-90" alt="...">
        </div>
        <div class="carousel-item">
            <img src="~/Public/Img/hannah-morgan-ycVFts5Ma4s-unsplash.jpg" class="d-block w-90" alt="...">
        </div>
        <div class="carousel-item">
            <img src="~/Public/Img/—Pngtree—spring festival new year yellow_929390.jpg" class="d-block w-90" alt="...">
        </div>
    </div>
    <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden"></span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden"></span>
    </a>
</div>
<div class="row">

    <div class="col-md-7">
        <h1>Giới thiệu</h1>
        <h5>“Routine đang tạo ra những bộ trang phục sản xuất trong nước hoàn toàn có thể sánh ngang với các thương hiệu thời trang nam đến từ nước ngoài về kiểu dáng, chất lượng lẫn phong cách thời trang.” - CEO Routine.</h5>
        <p>Như ý nghĩa của tên gọi, trang phục của Routine hướng đến việc trở thành thói quen, lựa chọn hàng ngày cho nam giới trong mọi tình huống. Bởi Routine hiểu rằng, sự tự tin về phong cách ăn mặc sẽ làm nền tảng, tạo động lực cổ vũ mỗi người mạnh dạn theo đuổi những điều mình mong muốn. Trong đó, trang phục nam phải mang vẻ đẹp lịch lãm, hợp mốt và tạo sự thoải mái, quan trọng nhất là mang đến cảm giác “được là chính mình” cho người mặc.</p>
        <p>Thời trang Routine thuyết phục khách hàng bằng từng kiểu dáng trang phục thiết kế độc quyền, sự sắc sảo trong mỗi đường nét cắt may, sử dụng chất liệu vải cao cấp và luôn hòa điệu cùng xu hướng quốc tế. Đây là con đường Routine theo đuổi và hướng đến phát triển bền vững.</p>
        <p>Thành lập từ năm 2013, đến nay hệ thống cửa hàng của Routine đang là địa chỉ “One stop fashion shop” cung ứng cho nam giới mọi nhu cầu về thời trang với tất cả các loại trang phục, phụ kiện. Phong cách tối giản đặc trưng của Routine mang đến sự gần gũi, đa dụng và đủ sức tạo nên dấu ấn riêng cho người mặc. Các sản phẩm quần tây, áo sơ mi, quần jeans, áo thun, áo jacket... đều được thiết kế năng động, dễ dàng kết hợp để mặc đi làm, đi chơi hay du lịch. Routine hiện có hệ thống 27 cửa hàng tại TP.HCM, Hà Nội, Hải phòng, Đà Nẵng, Kiên Giang và Vũng Tàu. Thương hiệu thường xuyên ra mắt bộ sưu tập riêng, bắt kịp xu hướng thời trang quốc tế.</p>
        <p>XEM TẤT CẢ <i class="fas fa-chevron-circle-right"></i></p>
    </div>
    <div class="col-md-5">
        <img src="~/Public/Img/1200px_routine.jpg" class="img-thumbnail" alt="Alternate Text" />
    </div>
</div>

