
@{
    ViewBag.Title = "PostTopic";
    Layout = "~/Views/Shared/_LayoutSite.cshtml";
}
<div class="row">
    <div class="col-md-12">
        <h1>Tin tức</h1>
        <h2>HAPPY BIRTHDAY 7TH ROUTINE (18/06/2013 - 18/06/2020)</h2>

        <img src="~/Public/Img/1593058709_1.jpg" class="img-thumbnail" alt="Alternate Text" />

        <h5>Nhân dịp qua sự kiện này, Routine xin gửi lời cảm ơn chân thành về sự đồng hành và gắn bó của mọi người trong suốt quá trình 07 năm của Routine. Những dòng tâm tình nhỏ bé ấy đã được CEO nhà mình gửi gắm trong tấm thiệp viết tay ở mỗi món quà.</h5>
        <h5>
            Với chủ đề ý nghĩa và đặc biệt của buổi tiệc là Rainbow Birthday Routine. Điều đó đại diện cho:
        </h5>
        <h5>7 cảm xúc (Vui vẻ, Buồn bã, Sợ hãi, Chán ghét, Giận dữ, Ngạc nhiên, Hy vọng và Tin tưởng)</h5>
        <h5>7 hương vị của cuộc sống (Chua, cay, mặn, ngọt, đắng và chát)</h5>
        <h5>7 màu sắc sắc màu cầu vòng. Và cầu vòng thường xuất hiện sau cơn mưa, cũng giống như Routine sau đại dịch vừa qua đã trở lại bầu trời tươi sáng và mạnh mẽ hơn bao giờ hết</h5>
        <img src="~/Public/Img/1593058774_5.jpg" alt="Alternate Text" />
    </div>


</div>
<div class="row">
    <div class="col-md-9">
        <h1>Tuyển Dụng</h1>
        <h2>Về chúng tôi</h2>
        <h5>Routine là hệ thống bán lẻ các mặt hàng thời trang nam. Hiện tại, công ty đang có 30 cửa hàng bán lẻ tại Hà Nội, Hải Phòng, Đà Nẵng, Vũng Tàu, Kiên Giang và Hồ Chí Minh. Được thành lập vào năm 2013, trải qua 7 năm hoạt động, công ty luôn luôn mang đến cho khách hàng những sản phẩm chất lượng cao do chính Việt Nam sản xuất với phong cách thời trang trẻ trung cập nhật xu hướng của thế giới nhưng với giá thành cạnh tranh. Ngoài ra, công ty còn cung cấp cho khách hàng một dịch vụ bán hàng thân thiện và nhiệt thành.</h5>
        <h5>Công ty TNHH Routine Việt Nam là tổ chức của những con người trẻ trung, năng động, đam mê ngành dịch vụ và thời trang, ham học hỏi, luôn muốn phát triển bản thân và nghề nghiệp tương lai trong lĩnh vực này. Nơi mà các thành viên tìm thấy được bản thân mình và phát huy tốt nhất những thế mạnh của mình. Chúng tôi muốn xây dựng một môi trường làm việc mà ở đó mọi người làm việc một cách tự chủ và thoải mái, công việc chính là cuộc sống và làm việc để tìm ra mình và để tìm ra ý nghĩa cuộc đời mình.</h5>
    </div>
    <div class="col-md-3">
        <img src="~/Public/Img/1200px_routine.jpg" class="img-thumbnail" alt="Alternate Text" />
    </div>
</div>
<div class="row">
    <div class="col-md-6">
        <img src="~/Public/Img/1571199164_routine-vision-mission.jpg" class="img-thumbnail" alt="Alternate Text" />
    </div>
    <div class="col-md-6">
        <h2>Sứ mệnh - Tầm nhìn</h2>
        <h5>Routine là hệ thống bán lẻ các mặt hàng thời trang nam. Hiện tại, công ty đang có 30 cửa hàng bán lẻ tại Hà Nội, Hải Phòng, Đà Nẵng, Vũng Tàu, Kiên Giang và Hồ Chí Minh. Được thành lập vào năm 2013, trải qua 7 năm hoạt động, công ty luôn luôn mang đến cho khách hàng những sản phẩm chất lượng cao do chính Việt Nam sản xuất với phong cách thời trang trẻ trung cập nhật xu hướng của thế giới nhưng với giá thành cạnh tranh. Ngoài ra, công ty còn cung cấp cho khách hàng một dịch vụ bán hàng thân thiện và nhiệt thành.</h5>
    </div>

</div>

